body {
  margin: 0;
  text-align: center;
}

a {
  list-style: none;
  color: black;
}

button,
select {
  padding: 5px 10px;
  min-width: 50px;
  margin: 5px;
  font-size: 18px;
}

label {
  width: 200px;
  display: block;
}

input,
textarea {
  width: 200px;
  padding: 10px;
  display: inline-block;
  margin: 10px;
}

.Navbar {
  background: #515f7d;
  color: white;
  padding: 0px 20px;
  box-shadow: 0px 1px 2px gray;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
}

.Navbar li {
  list-style: none;
  color: white;
  font-size: 24px;
  font-weight: 600;
}

.card {
  width: 400px;
  padding: 10px;
  box-shadow: 0px 2px 3px grey;
  margin: 0 auto;
  margin-bottom: 20px;
  background: #94a7c8;
  border-radius: 4px;
}

.ProjectCard h3::after {
  content: url("https://education-team-2020.s3.eu-west-1.amazonaws.com/web-dev/m3/icon-expand.png");
  margin-left: 5px;
}

.EditProjectPage,
.CreateProjectPage,
.AddProject {
  background: #f9eec3;
  border: 1px solid grey;
  box-shadow: 0px 2px 3px grey;
  width: 400px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 4px;
}

.EditProjectPage {
  background-color: rgb(239, 196, 88);
}

.EditProjectPage form,
.AddProject form,
.CreateProjectPage form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddProject button,
.CreateProjectPage button {
  display: block;
}

.TaskCard {
  background-color: #dfeef9;
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #222;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}